* {
  margin: 0;
  padding: 0;
  font-family: "Consolas";
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header .head-logo {
  text-align: center;
  padding: 10px;
}

header nav {
  width: 100%;
  height: 50px;
  background-color: #00ffd9;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

header nav .nav-group {
  display: flex;
  align-items: center;
}

header nav .nav-group a {
  width: 100px;
  font-size: 16px;
  height: 40px;
  text-decoration: none;
  color: black;
  background-color: #00ffd9;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav-group a:hover {
  background-color: white;
  color: black;
}

.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 120px);
  background: #edecec;
}

form.login {
  position: absolute;
  width: 400px;
  background-image: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 9);
}

form.login .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

form.login .content h3 {
  font-size: 2em;
  color: black;
  text-transform: uppercase;
}

form.login .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form.login .content .form .inputBox {
  position: relative;
  width: 100%;
}

form.login .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: white;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px 10px;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  font-size: 1em;
}

form.login .content .form .inputBox i.label {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: black;
  transition: 0.3s;
  pointer-events: none;
}

form.login .content .form .inputBox i.label > i.fa-solid {
  margin-right: 8px;
}

form.login .content .form .inputBox input:focus ~i.label,
form.login .content .form .inputBox input:not(:placeholder-shown) ~i.label {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: black;
}

form.login .content .form .inputBox input:focus ~i.label > i.fa-solid,
form.login .content .form .inputBox input:not(:placeholder-shown) ~i.label > i.fa-solid {
  margin-right: 6px;
}

form.login .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

form.login .content .form .links a {
  color: black;
  text-decoration: none;
}

form.login .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: #00ffd9;
  color: black;
  font-weight: 600;
  font-style: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

form.login .content .form .inputBox input[type="submit"]:active {
  opacity: 0.6;
}

.error-msg {
  color: red;
}




.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}